@model Waiterly.Models.RestaurantUser

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.User.FullName)</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        
    </dl>
</div>
<div>
    @{
        var restaurantId = ViewContext.RouteData.Values["restaurantId"];
    }
    <a asp-action="Index" asp-route-restaurantId="@restaurantId">Back to List</a>

</div>
