@model IEnumerable<Waiterly.Models.RestaurantUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurant Employees</h1>

<p>
    <a asp-action="Create">Join Restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>

            <td>
                @{
                    if (User.Identity.IsAuthenticated)
                    {

                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                                <p>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Terminate</a> |
                                    <a class="nav-link" asp-controller="Wages" asp-action="Details" asp-route-id="@item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                Payroll <span class="sr-only">(current)</span>
                                    </a>
                                </p>
                        }
                    }
                }
                @{
                    if (User.Identity.IsAuthenticated)
                    {

                        if (User.IsInRole("Host") || User.IsInRole("Waiter"))
                        {
                                <p>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Leave</a>
                                </p>
                        }
                    }
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
