@model IEnumerable<Waiterly.Models.RestaurantUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurant Employees</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>

            <td>
                @{ var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{item.RestaurantId}" },
                       {"employeeId", $"{item.Id}" }
                    };
                }
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                    <p>
                                        <a asp-action="Details" asp-all-route-data="parms">Details</a> |
                                        <a asp-action="Delete" asp-all-route-data="parms">Delete</a>
                                    </p>
                            }
                        }
                    }
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            if (User.IsInRole("Host") || User.IsInRole("Waiter"))
                            {
                                <p>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Leave</a>
                                </p>
                            }
                        }
                    }

                </td>
        </tr>
}
    </tbody>
</table>
