@model Waiterly.Models.Wage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dollars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dollars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @{
        var restaurantId = ViewContext.RouteData.Values["restaurantId"];
        <a asp-action="Index" asp-route-restaurantId="@restaurantId">Back to List</a>
    }
</div>
