@model IEnumerable<Waiterly.Models.Wage>
<h1>Payroll</h1>

<p>
    @{
        var restaurantId = ViewContext.RouteData.Values["restaurantId"];

        <a asp-action="Create" asp-route-restaurantId="@restaurantId">Add Employee</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated)
        {

            if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                @foreach (var item in Model)
                {
                    var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{restaurantId}" },
                       {"wageId", $"{item.Id}" }

                    };
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dollars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hours)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-all-route-data="parms">Edit</a>
                            <a asp-action="Details" asp-all-route-data="parms">Details</a>
                            <a asp-action="Delete" asp-all-route-data="parms">Delete</a>
                        </td>
                    </tr>

                }
            }
            if (User.IsInRole("Waiter") || User.IsInRole("Host"))
            {
                @foreach (var item in Model)
                {
                    if (item.UserId == ViewBag.LoginUser.Id) {
                    var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{restaurantId}" },
                       {"wageId", $"{item.Id}" }

                    };
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dollars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hours)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-all-route-data="parms">Hours</a>
                            <hr>
                            <a asp-action="Details" asp-all-route-data="parms">Details</a>
                        </td>
                    </tr>
                    }
                }
            }
        }

    </tbody>
</table>














