@model IEnumerable<Waiterly.Models.Wage>

@{
    ViewData["Title"] = "Index";
}

<h1>Payroll</h1>

<p>
    @{
        var restaurantId = ViewContext.RouteData.Values["restaurantId"];

        <a asp-action="Create" asp-route-restaurantId="@restaurantId">Add Employee</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @{ var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{restaurantId}" },
                       {"wageId", $"{item.Id}" }
                    };
                }
                <a asp-action="Edit" asp-all-route-data="parms">Edit</a> |
                <a asp-action="Details" asp-all-route-data="parms">Details</a> |
                <a asp-action="Delete" asp-all-route-data="parms">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
