@model IEnumerable<Waiterly.Models.UserTable>
<h1>Host</h1>
@{
    var restaurantId = ViewContext.RouteData.Values["restaurantId"];
    if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Host"))
    {
        <a asp-action="Create" asp-route-restaurantId="@restaurantId"><button type="button" class="btn btn-primary">Add Table</button></a>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{item.RestaurantId}" },
                       {"tableId", $"{item.Id}" }
            };

            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Host"))
            {
                if (item.UserId != null)
                {
                    <tr>
                        <td>
                            <form asp-action="Unassign">
                                <input hidden name="unassignId" value="@item.Id" />
                                <button type="submit" class="btn btn-outline-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                                Unassign <span class="sr-only">(current)</span></button>
                            </form>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.TableNumber)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Seats)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Restaurant.Name)
                        </td>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-all-route-data="parms"><button type="button" class="btn btn-info btn-sm">Edit</button></a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Host"))
                            {
                                <a asp-action="Delete" asp-all-route-data="parms"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="table-active">
                        <td>
                            <a asp-action="Edit" asp-all-route-data="parms"><button type="button" class="btn btn-success btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                                Assign <span class="sr-only">(current)</span></button></a>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.TableNumber)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Seats)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Restaurant.Name)
                        </td>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-all-route-data="parms"><button type="button" class="btn btn-info btn-sm">Edit</button></a>
                            <a asp-action="Delete" asp-all-route-data="parms"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="table">
                    <td>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.TableNumber)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Seats)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Restaurant.Name)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

