@model IEnumerable<Waiterly.Models.UserTable>




<h1>Host</h1>

<p>
    @{
        var restaurantId = ViewContext.RouteData.Values["restaurantId"];

        <a asp-action="Create" asp-route-restaurantId="@restaurantId">Add Table</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @{ var parms = new Dictionary<string, string> {
                       {"restaurantId", $"{item.RestaurantId}" },
                       {"tableId", $"{item.Id}" }
                    };
                    }
                    <a asp-action="Edit" asp-all-route-data="parms">Edit</a> |
                    <a asp-action="Details" asp-all-route-data="parms">Details</a> |
                    <a asp-action="Delete" asp-all-route-data="parms">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
